<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
    <title>Title</title>
</head>
<body>
<div class="topnav" id="topnav">
    <a class="active" id="home-page">Home</a>
    <a id="new-race-page">Add Race</a>
    <a id='logout'>Sign out</a>
</div>
<div id="content">
</div>
<script>
    const content = document.getElementById("content");
    const raceDashboard = document.getElementById("race-dashboard");
    const newRace = document.getElementById("new-race");

    const homePage = document.getElementById("home-page");
    const newRacePage = document.getElementById("new-race-page");
    let pageFrag = undefined;

    function loadPage(htmlUrl) {
        fetch(htmlUrl)
            .then((response) => response.text())
            .then((html) => {
                console.log('DOM fully loaded and parsed');
                const pageFrag = document.createRange().createContextualFragment(html);
                if(content.children.length > 0){
                    content.removeChild(content.lastChild);
                }else{
                    content.appendChild(pageFrag);
                }

                content.innerHTML = html;
            }).catch((error) => {
                console.warn(error);
        });

    }

    document.addEventListener("DOMContentLoaded", () => {
        loadPage('dashboard');
    });

    homePage.onclick = function () {
        loadPage('dashboard');
    }

    newRacePage.onclick = function () {
        loadPage('new-race');
    }

</script>


</body>
</html>
