<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
    <link rel='stylesheet' href='/stylesheets/toast.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/button.css' />
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
    <link rel="stylesheet" href="/stylesheets/race.css">

    <title id="page-title">Current Race</title>

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#yourColor">

</head>
<body>

<div class="topnav web-nav" id="topnav">
    <div  style="float: right;
     margin-right: 10px;">
        <p id="user-type" class="topnav badge"></p>
        <button id="logout">Logout</button>
    </div>
</div>
<div class="topnav mobile-nav" id="topnav-mob">
    <a href="/" class="active">UP2160428</a>
    <div id="my-links"></div>
    <a href="javascript:void(0);" onclick="doLogOut()" id="mob-logout">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<div id="content">
</div>
<div id="toast" class="toast"></div>
<script>
    const isMobile = document.getElementById("topnav-mob").checkVisibility()
    let topNav = isMobile ? document.getElementById("my-links")
        : document.getElementById("topnav");
    const mobLogout = document.getElementById("mob-logout");
    const userType = document.getElementById("user-type");
    const logOut = document.getElementById("logout");
    const toast = document.getElementById('toast');
    const content = document.getElementById("content");
    const myLinks = document.getElementById("my-links");

    let selectedTabId = undefined;
    const SELECTED_PAGE_KEY = 'selected_page'
    let START_TAB = isMobile ? 0 : 1

    let currentPage = undefined;

    function myFunction() {
        if (myLinks.style.display === "block") {
            myLinks.style.display = "none";
            mobLogout.style.display = 'none';
        } else {
            mobLogout.style.display = 'block';
            myLinks.style.display = "block";
        }
    }

    function showToast(message, type){
        toast.textContent = message;
        if(type === 'success'){
            toast.style.backgroundColor = 'green';
        }else{
            toast.style.backgroundColor = 'red';
        }
        toast.className = 'toast show';

        setTimeout((event) => {
            toast.className = 'toast';
        }, 3000);
    }

    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js');
    }

    function checkLogin(){
        fetch('/api/check-login', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        }).then((res) => res.json())
            .then((data) => {
                const curPath = window.location.pathname;
                if(data.redirect_url !== curPath){
                    window.location.href = '/login';
                }
            }).catch((err) => {
            console.log(err, 'error');
        });
    }


    document.addEventListener('DOMContentLoaded', function() {
        checkLogin();
        const message = localStorage.getItem('message');
        if(message){
            showToast(message, 'success');
            localStorage.removeItem('message');
        }

        const userTypeVal = localStorage.getItem('user_type');
        if(userTypeVal){
            const initial = userTypeVal.charAt(0).toUpperCase();
            userType.textContent = `${initial}${ userTypeVal.substring(1).toLowerCase()}`;
        }

        addMenus();
    });

    function initialLoad(){
        let firstLoad = true;
        for(let i =START_TAB; i < topNav.children.length; i++){
            if(topNav.children[i].classList.contains('active')){
                firstLoad = false;
            }
        }
        if(firstLoad){
            const cachedSelection = localStorage.getItem(SELECTED_PAGE_KEY);
            let selectedPage = parseInt(cachedSelection ? cachedSelection : `${START_TAB}`);
            console.log('firstLoad', firstLoad);
            selectedTabId = topNav.children[selectedPage].id;
            loadPage(topNav.children[selectedPage].target);
            topNav.children[selectedPage].className = "active";
        }
        if(isMobile){
            mobLogout.style.display = 'none';
            myLinks.style.display = "none";
        }
    }

    function addMenuClick(){

        for(let i = START_TAB; i < topNav.children.length; i++){
            topNav.children[i].addEventListener('click', function(event){
                if(selectedTabId !== topNav.children[i].id){

                    // Prevent user from moving to over page until race is completed
                    const timerStatus = localStorage.getItem('timer_status');

                    if (timerStatus === 'running'){
                        showToast("Race has started! You can't navigate from this page until race is completed");
                        return;
                    }


                    console.log('selectedTab', topNav.children[i].target);
                    if(selectedTabId !== undefined){
                        document.getElementById(selectedTabId)
                            .classList.remove('active');
                    }

                    // Remove status as state is not running
                    if(timerStatus){
                        localStorage.removeItem('timer_status');
                    }

                    topNav.children[i].className = "active";
                    localStorage.setItem(SELECTED_PAGE_KEY, `${i}`);

                    // Open page based on selected tab
                    loadPage(topNav.children[i].target);
                }
                selectedTabId = topNav.children[i].id;
            });
        }
    }

    function addMenus(){
        fetch('/api/user-type')
        .then(response => response.json())
            .then(menuObj => {
                while (topNav.hasChildNodes() && topNav.children.length > START_TAB){
                    topNav.removeChild(topNav.lastChild);
                }

                menuObj.menus.forEach(menu => {
                    let btnMenu = document.createElement(isMobile ? 'a': 'button');
                    btnMenu.textContent = menu.name;
                    btnMenu.id = menu.id
                    btnMenu.target = menu.page;
                    topNav.appendChild(btnMenu);
                });

                addMenuClick();
                initialLoad();
            });
    }


    // function addMobileMenus(){
    //     fetch('/api/user-type')
    //         .then(response => response.json())
    //         .then(menuObj => {
    //             while (topNav.hasChildNodes() && topNav.children.length > START_TAB){
    //                 topNav.removeChild(topNav.lastChild);
    //             }
    //
    //             menuObj.menus.forEach(menu => {
    //                 let aMenu = document.createElement('a');
    //                 aMenu.textContent = menu.name;
    //                 aMenu.id = menu.id
    //                 aMenu.target = menu.page;
    //                 topNav.appendChild(aMenu);
    //             });
    //
    //             addMenuClick();
    //             initialLoad();
    //         });
    // }

    function removeNode(content){
        while (content.hasChildNodes()){
            content.removeChild(content.lastChild);
        }
    }

    function loadPage(htmlUrl) {
        if (currentPage === htmlUrl) {
            return;
        }
        fetch(htmlUrl)
            .then((response) => response.text())
            .then((html) => {
                console.log('DOM fully loaded and parsed');
                const pageFrag = document.createRange().createContextualFragment(html);
                removeNode(content);
                content.appendChild(pageFrag);
               // content.innerHTML = html;
                currentPage = htmlUrl;
            }).catch((error) => {
                console.warn(error);
        });

    }

    function doLogOut(){
        fetch('/api/logout')
            .then(response => response.json())
            .then(logoutRes =>{
                window.location.href = '/login';
                localStorage.clear();
            }).catch((error) =>{
            showToast(error, 'error');
        });
    }

    logOut.onclick = () => {
        doLogOut();
    }

</script>


</body>
</html>
