<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <title>New Race</title>
</head>
<body id="new-race">
<h1>New Race</h1>
<form id="createRaceForm">
    <label for="name">Event title:</label>
    <input type="text" id="name" name="name" minlength="5" maxlength="100" required>
    <br><br>

    <label for="start_time">Start time:</label>
    <input type="datetime-local" id="start_time" name="start_time" required>
    <br><br>
<!--    address, postcode, city-->
    <label for="race-city">Event city</label>
    <input type="text" id="race-city" minlength="3" name="race_city" required>
    <br><br>

    <label for="postcode">Event postcode</label>
    <input type="text" id="postcode"  minlength="3" name="postcode" required>
    <br><br>

    <label for="address">Event address</label>
    <input type="text" id="address"  minlength="3" name="address" required>
    <br><br>

    <button type="submit" class="def-button">Submit</button>
</form>

<script>

    if (document.readyState !== "loading") {
        const form = document.getElementById('createRaceForm');
        const toast = document.getElementById('toast');
        const raceCity = document.getElementById('race-city');
        const racePostCode = document.getElementById('postcode');
        const raceAddress = document.getElementById('address');
        const startTime = document.getElementById('start_time');
        const raceName = document.getElementById('name');


        function showToast(message, type){
            toast.textContent = message;
            if(type === 'success'){
                toast.style.backgroundColor = 'green';
            }else{
                toast.style.backgroundColor = 'red';
            }
            toast.className = 'toast show';

            setTimeout((event) => {
                toast.className = 'toast';
            }, 3000);
        }

        function createRace(formData) { //import {CACHE_USER, raceApi} from "../app";
            fetch('/api/new-race', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData)
            })
                .then((race) => race.json())
                .then((race) => {
                    if(race.error){
                        showToast(race.error, 'error');
                    }else{
                        localStorage.setItem(SELECTED_PAGE_KEY, `2`);
                        localStorage.setItem('message', 'Race successfully created!');
                        // Goto race list
                        window.location.reload();
                        form.reset();
                    }
                })
                .catch((err) => {
                    showToast(err, 'error');
                });
        }


        form.addEventListener('submit', (event) => {
            event.preventDefault();
            const formData = { //address, postcode, city
                name: raceName.value,
                start_time: startTime.value,
                postcode: racePostCode.value,
                city: raceCity.value,
                address: raceAddress.value,
                email: getCookie('email')
            }
            createRace(formData);
        });
    }



</script>

</body>
</html>
