<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <title>New Race</title>
</head>
<body id="new-race">
<h1>New Race</h1>
<form id="createRaceForm">
    <label for="name">Event Name:</label>
    <input type="text" id="name" name="name" maxlength="100" required>
    <br><br>

    <label for="loop_km">Loop Distance (km):</label>
    <input type="number" id="loop_km" name="loop_km" step="0.01" required>
    <br><br>

    <label for="start_time">Start Time:</label>
    <input type="datetime-local" id="start_time" name="start_time" required>
    <br><br>

    <label for="cutoff_time">Cutoff Time (HH:MM):</label>
    <input type="text" id="cutoff_time" name="cutoff_time" pattern="^([0-9]{2}):([0-5][0-9])$" required>
    <br><br>

    <button type="submit" class="def-button">Submit</button>
</form>

<script>

    if (document.readyState !== "loading") {
        const form = document.getElementById('createRaceForm');
        const toast = document.getElementById('toast');


        function showToast(message, type){
            toast.textContent = message;
            if(type === 'success'){
                toast.style.backgroundColor = 'green';
            }else{
                toast.style.backgroundColor = 'red';
            }
            toast.className = 'toast show';

            setTimeout((event) => {
                toast.className = 'toast';
            }, 3000);
        }

        function createRace(formData) { //import {CACHE_USER, raceApi} from "../app";
            fetch('/api/new-race', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData)
            })
                .then((race) => race.json())
                .then((race) => {
                    if(race.error){
                        showToast(race.error, 'error');
                    }else{
                        localStorage.setItem('message', 'Race successfully created!');
                        // Goto race list
                        window.location.href = '/';
                        form.reset();
                    }
                })
                .catch((err) => {
                    showToast(err, 'error');
                });
        }

        function getValue(key){
            return document.getElementById(key).value
        }

        form.addEventListener('submit', (event) => {
            event.preventDefault();
            const formData = {
                name: getValue('name'),
                loop_km: getValue('loop_km'),
                start_time: getValue('start_time'),
                cutoff_time: getValue('cutoff_time')}
            createRace(formData);
        });
    }



</script>

</body>
</html>
