<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Race Data</title>
</head>
<body id="race-dashboard">

<div class="timer-container dashboard-content">
    <div>
        <h2>Race Information</h2>
        <div id="race-info"></div>
        <button id="register-race"
                class="def-button" disabled>Register Race</button>
    </div>
</div>
<script>
    if (document.readyState === "loading") {
        document.addEventListener("DOMContentLoaded", () => {
            // Edge case
            populateCurrentRace();
        });
    } else {
        console.log("DOM already loaded — run now");
        let raceInfo = document.getElementById('race-info');
        const registerButton = document.getElementById('register-race');
        checkRaceRegistration();

        if (localStorage.getItem('user_type') === 'runner'){
            registerButton.style.display = 'block';
            registerButton.onclick = () =>{
                registerRace();
            }
        }else{
            registerButton.style.display = 'none';
        }

        function newParagraph(title, subTitle){
            let paragraph = document.createElement('p');
            paragraph.className = 'race-detail';
            let strong = document.createElement('strong');
            strong.textContent = `${title}: `;
            //<p><strong>Loop (km):</strong> 12</p>
            paragraph.appendChild(strong);
            paragraph.appendChild(document.createTextNode(subTitle));
            raceInfo.appendChild(paragraph);
        }


        function checkRaceRegistration(){
            // registered-race
            fetch('/api/registered-race', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then((res) => res.json())
                .then((data) => {
                    console.log('race registration done: '+ data.registered);
                    registerButton.disabled = data.registered;
                }).catch((err) => {
                showToast(err.message, 'error');
            });
        }


        function registerRace(){
            fetch('/api/register-race', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then((res) => res.json())
                .then((data) => {
                    if(data.error){
                        showToast(data.error, 'error');
                    }else{
                        showToast(data.message, 'success');
                        registerButton.textContent = 'Registered';
                        registerButton.disabled = true;
                    }
                }).catch((err) => {
                showToast(err.message, 'error');
            });
        }

        function populateCurrentRace(){
            fetch('/api/current-race', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then((res) => res.json())
                .then((data) => {
                    if(data.error){
                        showToast("An error occur", "error");
                    }else{
                        console.log(data.data, 'data_data');
                        if(data.data.length === 0){
                            const noRace = document.createElement('p');
                            noRace.textContent = "No race found.";
                            raceInfo.appendChild(noRace)
                            return;
                        }
                        const race = data.data[0];
                        newParagraph('Name', race.name);
                        newParagraph('Loop (km)', `${race.loop_km} km`);
                        newParagraph('Start Time', race.start_time);
                        newParagraph('Cutoff Time', race.cutoff_time);
                        newParagraph('Your race id', race.cutoff_time);
                    }
                }).catch((err) => {
                console.log('User not logged inqq', 'error');
            });
        }
        populateCurrentRace();

    }

</script>
</body>
</html>
