<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/navbar.css' />
  <link rel='stylesheet' href='/stylesheets/login.css' />
  <link rel='stylesheet' href='/stylesheets/button.css' />
    <link rel="stylesheet" href="/stylesheets/race.css">
    <title>Title</title>
</head>


<body>
<div class="topnav web-nav" id="topnav">
</div>
<div class="topnav mobile-nav" id="topnav-mob">
  <div id="my-links"></div>
</div>

<div  class="timer-container">
<h2>Record Race</h2>

<form id="record-race-form">

  <div class="container">


    <label for="laps"><b>Laps</b></label>
    <input type="text" placeholder="Lapse" id="laps" name="laps" required disabled>

    <label for="racer-select"><b>Select race position:</b></label>
    <select name="pets" id="racer-select"></select>

    <label for="position-select"><b>Select race position:</b></label>
    <select name="pets" id="position-select"></select>

    <button type="submit" class="def-button" >Record Position</button>
  </div>

</form>
</div>

<div class="toast" id="toast"></div>
<script>

  const isMobile = document.getElementById("topnav-mob").checkVisibility();
  let topNav = isMobile ? document.getElementById("my-links")
          : document.getElementById("topnav");
  const racePositionSelector = document.getElementById('position-select');
  const laps = document.getElementById('laps');
  const racerSelect = document.getElementById('racer-select');
  const raceForm = document.getElementById('record-race-form');
  const myLinks = document.getElementById("my-links");
  let distinctText = undefined;

  const LAPS = 'laps';
  let raceLaps = undefined;
  let raceId = undefined;

  document.addEventListener('DOMContentLoaded', () => {
    addRacePositions();
    getRacers();
    const recordedLaps = localStorage.getItem(LAPS);
    if (recordedLaps === null) {
      return;
    }
    const rLaps = JSON.parse(recordedLaps)[LAPS];
    raceId = JSON.parse(recordedLaps)['race_id'];
    raceLaps = rLaps;
    laps.value = `${rLaps.length} Laps`;

    // show menu
    addMenus();
    initialLoad();
  });


  function initialLoad(){
    let firstLoad = true;
    for(let i = 0; i < topNav.children.length; i++){
      if(topNav.children[i].classList.contains('active')){
        firstLoad = false;
      }
    }
    if(firstLoad){
      let selectedPage = 0;
      console.log('firstLoad', topNav.children[selectedPage] === undefined, topNav.children[selectedPage]);
      selectedTabId = topNav.children[selectedPage] === undefined ? 0 : topNav.children[selectedPage].id;
      topNav.children[selectedPage].className = "active";
    }
    if(isMobile){
      myLinks.style.display = "none";
    }
  }


  function addMenus(){
    let btnMenu = document.createElement(isMobile ? 'a': 'button');
    btnMenu.textContent = 'Home';
    btnMenu.id = 'home'
    btnMenu.onclick = () => {
      window.location.href = '/';
    }
    topNav.appendChild(btnMenu);
  }

  raceForm.addEventListener('submit', (e) => {
    e.preventDefault();
    recordLabs()
  });


  function openMenu() {
    if (myLinks.style.display === "block") {
      myLinks.style.display = "none";
    } else {
      myLinks.style.display = "block";
    }
  }

  function recordLabs(){
    if (raceLaps === undefined) return;
    fetch('/api/record-laps', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        laps: raceLaps,
        position: racePositionSelector.value,
        racer_id: racerSelect.value,
        race_id: raceId,
      })
    }).then((response) => {
      return response.json();
    }).then((data) =>{
      if(distinctText === data.message){
        window.location.replace('/');
        localStorage.removeItem('cachedLaps');
      }
    });
  }

  function showToast(message, type){
    toast.textContent = message;
    if(type === 'success'){
      toast.style.backgroundColor = 'green';
    }else{
      toast.style.backgroundColor = 'red';
    }
    toast.className = 'toast show';

    setTimeout((event) => {
      toast.className = 'toast';
    }, 3000);
  }

  function getRacers(){
    fetch('/api/racers/', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      }
    }).then((response) => {
      return response.json();
    }).then((data) => {
      const racers = data.racers;
      for (let i =0; i < racers.length; i++) {
        const racerOption = document.createElement('option');
        racerOption.textContent = `Runner ${racers[i].race_id}`;
        racerOption.value = racers[i].race_id;
        racerSelect.appendChild(racerOption);
      }
      console.log(racers);
    }).catch((error) => {
      console.log('error', error);
    });
  }

  function addRacePositions(){
    for(let i =1; i < 30; i++){
      const positionOption = document.createElement('option');
      positionOption.textContent = `${i}${formatPos(i)} position`
      positionOption.value = i.toString();
      racePositionSelector.appendChild(positionOption);
    }
  }

  function formatPos(rawPosition){
    const thPos = rawPosition % 10;
    if([11, 12, 13].includes(rawPosition)){
      return 'th';
    }
    switch (thPos) {
      case 1:
        return 'st'
      case 2:
        return 'nd'
      case 3:
        return 'rd'
      default:
        return 'th'
    }
  }

</script>
</body>
</html>
