<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/race_board.css">
    <link rel="stylesheet" href="/stylesheets/user_suggestion.css">
    <link rel="stylesheet" href="/stylesheets/confirmation_snackbar.css">
</head>
<body class="timer-container">

<table style="width:100%">
    <tr>
        <th style="text-align: start"><h4>
            Race Board
        </h4></th>
        <th style="text-align: end;" id="rec-race"><h4>
            <a href="/record-race">Record Race Results</a>
        </h4>
        </th>
    </tr>
</table>
<div class="rest-container" id="race-records">
</div>
<div id="snackbar">
</div>

<script>
    // Prevent the app from crashing because of duplicate variables.
    if (document.readyState !== "loading") {
        const raceRecordsSection = document.getElementById('race-records');
        const snackbar = document.getElementById("snackbar");
        let disqualifyBtn;

        const socket = new WebSocket(`ws://${location.hostname}:8081`);

        socket.addEventListener('open', (event) =>{
            console.log('websocket connection open - race dashboard!');
        });

        // if (getCookie("user_type") === "organiser") {
        //     recRaceLink.style.display = "block";
        // }

        function showWarning(snackbarData, action){
            snackbar.textContent = snackbarData.message;
            snackbar.className = "show";
            const actionBtn = document.createElement('button');
            actionBtn.textContent = snackbarData.btnText;
            actionBtn.className = "def-button";
            actionBtn.onclick = () => {
                action();
            }
            if(snackbar.children.length > 1){
                snackbar.removeChild(snackbar.lastChild);
            }
            snackbar.appendChild(actionBtn);
            const timeout = setTimeout(function(){
                snackbar.className = "";
                clearTimeout(timeout)
            }, 3000);
        }



        function disqualifyUser(racerId, status){
            console.log('disqualifying user: ' + racerId);
            fetch('/api/disqualify', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({racer_id: racerId, status: status})
            }).then(function(response) {
                return response.json();
            }).then(function(data) {
                if(data.error){
                    showToast(data.error, 'error');
                    return;
                }
                if(disqualifyBtn){
                    disqualifyBtn.textContent = "Disqualified";
                    if (!disqualifyBtn.classList.length < 2){
                        disqualifyBtn.classList.add('disqualified');
                    }
                }

                socket.send(JSON.stringify({
                    disqualified: true,
                    user_id: racerId
                }));
                showToast(data.message, 'success');
            }).catch(function(error) {
                console.log(error);
            });
        }

        // function showToast(message, type){
        //     toast.textContent = message;
        //     if(type === 'success'){
        //         toast.style.backgroundColor = 'green';
        //     }else{
        //         toast.style.backgroundColor = 'red';
        //     }
        //     toast.className = 'toast show';
        //
        //     setTimeout((event) => {
        //         toast.className = 'toast';
        //     }, 3000);
        // }

        periodicRacerUpdate();

        const periodic = timeout => new Promise(resolve => setTimeout(resolve, timeout))

        function periodicRacerUpdate(){
            getRacers();
        }

        function getRacers(){
            fetch('/api/racers', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json())
                .then((racerList) => {
                    if(racerList.error){
                        showToast('No registered racers here.', 'error');
                        return;
                    }
                    if (racerList.racers.length > 0) {
                        for(let i = 0; i < racerList.racers.length; i++){
                            const racer = racerList.racers[i];
                            console.log('racer----racer', racer.disqualified);
                            createNewRunner(i + 1, racer.name, racer.race_id, racer.disqualified);
                        }

                        // createNewRunner('1', racer.name, racer.race_id, racer.disqualified);
                    }
                })
                .catch((error) => {
                    console.log('racerList', `error: ${error}`);
                    showToast(error, 'error');
                });
        }

        // Create each row

        function createNewRunner(racePosition, racerName, raceNumber, isDisqualified){

            const racerItem = document.createElement('div');
            racerItem.className = "rest-racer";

            const searchedPosItem = document.createElement('div');
            searchedPosItem.textContent = `${racePosition}`;
            searchedPosItem.className = 'rest-position';

            // racer's name
            const searchedNameItem = document.createElement('div');
            searchedNameItem.textContent = `${racerName}`;
            searchedNameItem.className = 'rest-name';


            const searchedNumItem = document.createElement('div');
            searchedNumItem.textContent = `${raceNumber}`;
            searchedNumItem.className = 'rest-lap';

            disqualifyBtn = document.createElement('button');
            disqualifyBtn.textContent = isDisqualified ? "Disqualified" : 'Disqualify';
            disqualifyBtn.className = 'delete-btn';
            if(isDisqualified){
                disqualifyBtn.classList.add('disqualified')
                // disqualify
            }
            disqualifyBtn.type = 'button';
            disqualifyBtn.id = raceNumber
            searchedNumItem.appendChild(disqualifyBtn);

            disqualifyBtn.onclick = (e) => {
                showWarning({
                    btnText: 'Confirm',
                    message: `Are you sure you want to disqualify ${raceNumber}?`
                }, function onActionClick(){
                    disqualifyUser(raceNumber, 1);
                });

                // const raceData = getRaceData();
                // const raceRecIds = raceData.map((race) => race.race_id);
                // for(let i = 0; i < raceRecordsSection.children.length; i++){
                //     const raceNum = raceRecordsSection.children[i].children[2].textContent;
                //     if(raceNum.includes(e.target.id)){
                //         raceRecordsSection.removeChild(raceRecordsSection.children[i]);
                //     }
                // }
                //
                //
                // if(raceRecIds.includes(raceNumber)){
                //     const idIndex = raceRecIds.indexOf(raceNumber);
                //     if (idIndex < 1){
                //         raceData.splice(idIndex, 1);
                //     }else{
                //         raceData.splice(idIndex, idIndex+1);
                //     }
                // }
                //
                // raceRecords = raceData;
                // if(raceRecords.length === 0){
                //     disableSubmitRecordBtn()
                // }
                // updateRacerCache(raceRecords);
                // console.log('raceRecords-raceRecords-', raceData, raceRecords);

            }

            racerItem.appendChild(searchedPosItem);
            racerItem.appendChild(searchedNameItem);
            racerItem.appendChild(searchedNumItem);

            raceRecordsSection.appendChild(racerItem);
            // racerItem.onclick = () => {
            //     searchCard.style.display = 'none';
            // }
        }
    }else{

        const raceId = localStorage.getItem("race_id");
        console.log('checkLogin_raceId1', raceId);
    }




</script>
</body>
</html>
