<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/race_board.css">
</head>
<body class="timer-container">

<table style="width:100%">
    <tr>
        <th style="text-align: start"><h4>
            Race Board
        </h4></th>
        <th style="text-align: end"><h4>
            <a href="/record-race">See Race Results</a>
        </h4>
        </th>
    </tr>
</table>

<div id="people" class="people-content">
    <ol id="item"></ol>
</div>
<script>
    if (document.readyState !== "loading") {
        const peopleRowItem = document.getElementById('item');

        function showToast(message, type){
            toast.textContent = message;
            if(type === 'success'){
                toast.style.backgroundColor = 'green';
            }else{
                toast.style.backgroundColor = 'red';
            }
            toast.className = 'toast show';

            setTimeout((event) => {
                toast.className = 'toast';
            }, 3000);
        }

        periodicRacerUpdate();

        const periodic = timeout => new Promise(resolve => setTimeout(resolve, timeout))

        function periodicRacerUpdate(){
            getRacers();
        }

        function getRacers(){
            fetch('/api/racers', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json())
                .then((racerList) => {
                    console.log('racerList', racerList.racers[0]);
                    if (racerList.racers.length > 0) {
                        racerList.racers.forEach((racer) => {
                            buildRunnerItems(racer);
                        });
                    }else{
                        // Not racer
                    }
                })
                .catch((error) => {
                    console.log('racerList', `error: ${error}`);
                    showToast(error, 'error');
                });
        }

        function buildRunnerItems(racer){
            const item = document.createElement('li');
            item.textContent = racer.name;
            item.classList.add('people-item');
            peopleRowItem.appendChild(item);
        }
    }

</script>
</body>
</html>
