<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/navbar.css' />
  <link rel='stylesheet' href='/stylesheets/login.css' />
  <link rel='stylesheet' href='/stylesheets/button.css' />
    <link rel="stylesheet" href="/stylesheets/race.css">
  <link rel="stylesheet" href="/stylesheets/toast.css">
  <link rel="stylesheet" href="/stylesheets/form.css">
  <link rel="stylesheet" href="/stylesheets/user_suggestion.css">

    <title>Title</title>
</head>


<body>
<div class="topnav web-nav" id="topnav">
</div>
<div class="topnav mobile-nav" id="topnav-mob">
  <div id="my-links"></div>
</div>

<div  class="timer-container">
<h2>Record Race</h2>

<form id="record-race-form">

<table style="width:100%; text-align: left;">
  <tr>
    <th>
      <label for="racer_num">Racer number:</label>
      <input type="number" id="racer_num" name="racer_num" class="input" maxlength="5" required>
      <div id="search-card" style="display: none">
        <div class="search-container" id="searched-list">
        </div>
      </div>

    </th>

    <th><label for="racer-position">Racer's position:</label>
      <input type="number" id="racer-position" name="racer_position" maxlength="5" required></th>
  </tr>
</table>
  <button type="button" id="add-new" class="def-button" >Add</button>

  <br/>
  <br>
  <div class="rest-container" id="race-records">
<!--    <div class="rest-racer">-->
<!--      <div class="rest-position">4th</div>-->
<!--      <div class="rest-name">Racer D</div>-->
<!--      <div class="rest-lap">Lap 4/10</div>-->
<!--    </div>-->
<!--    <div class="rest-racer">-->
<!--      <div class="rest-position">5th</div>-->
<!--      <div class="rest-name">Racer E</div>-->
<!--      <div class="rest-lap">Lap 4/10</div>-->
<!--    </div>-->
<!--    <div class="rest-racer">-->
<!--      <div class="rest-position">6th</div>-->
<!--      <div class="rest-name">Racer F</div>-->
<!--      <div class="rest-lap">Lap 3/10</div>-->

    <!-- Add more as needed -->
  </div>
  <br/>
  <br>
  <button type="button"  id="submit-record" class="def-button" >Submit</button>

</form>
</div>

<div class="toast" id="toast"></div>
<script>

  const isMobile = document.getElementById("topnav-mob").checkVisibility();
  let topNav = isMobile ? document.getElementById("my-links")
          : document.getElementById("topnav");
  const racePositionSelector = document.getElementById('racer-position');
  const raceForm = document.getElementById('record-race-form');
  const myLinks = document.getElementById("my-links");
  const searchedList = document.getElementById('searched-list');
  const racerNum = document.getElementById("racer_num");
  const searchCard = document.getElementById('search-card');
  const submitRecord = document.getElementById('submit-record');
  const addNewRecord = document.getElementById('add-new');
  const raceRecordsSection = document.getElementById('race-records');
  let racerData = null;
  const raceRecords = [];


  let searchedinterval = undefined;

  document.addEventListener('DOMContentLoaded', () => {
    getRacers();

    // show menu
    addMenus();
    initialLoad();

  });


  submitRecord.onclick = () => {
  }

  addNewRecord.onclick = () => {
    const raceIds = raceRecords.map((raceRecord) => raceRecord.race_id);
    if (racerData && !raceIds.includes(racerData.race_id)){
      raceRecords.push({
        name: racerData.name,
        race_id: racerData.race_id,
        position: racePositionSelector.value
      });

      createNewRunner(racePositionSelector.value, racerData.name, racerData.race_id);
    }

  }

  racerNum.oninput = (e) => {
    if(searchedinterval){
      clearInterval(searchedinterval);
    }
    searchedinterval = setTimeout(() =>{
      searchRacer(e.target.value);
    }, 500);

  }


  function initialLoad(){
    let firstLoad = true;
    for(let i = 0; i < topNav.children.length; i++){
      if(topNav.children[i].classList.contains('active')){
        firstLoad = false;
      }
    }
    if(firstLoad){
      let selectedPage = 0;
      console.log('firstLoad', topNav.children[selectedPage] === undefined, topNav.children[selectedPage]);
      selectedTabId = topNav.children[selectedPage] === undefined ? 0 : topNav.children[selectedPage].id;
      topNav.children[selectedPage].className = "active";
    }
    if(isMobile){
      myLinks.style.display = "none";
    }
  }


  function addMenus(){
    let btnMenu = document.createElement(isMobile ? 'a': 'button');
    btnMenu.textContent = 'Home';
    btnMenu.id = 'home'
    btnMenu.onclick = () => {
      window.location.href = '/';
    }
    topNav.appendChild(btnMenu);
  }


  function openMenu() {
    if (myLinks.style.display === "block") {
      myLinks.style.display = "none";
    } else {
      myLinks.style.display = "block";
    }
  }



  function showToast(message, type){
    toast.textContent = message;
    if(type === 'success'){
      toast.style.backgroundColor = 'green';
    }else{
      toast.style.backgroundColor = 'red';
    }
    toast.className = 'toast show';

    setTimeout((event) => {
      toast.className = 'toast';
    }, 3000);
  }


  function searchRacer(query){
    fetch(`/api/search-racers?q=${query}`, {
      method: 'GET',
    }).then((response) => {
      return response.json();
    }).then((races) => {
      while (searchedList.lastChild){
        searchedList.removeChild(searchedList.lastChild);
      }
      searchCard.style.display = races.racers.length > 0 ? 'flex': 'none';
      races.racers.forEach((racer) => {

        const searchedItem = document.createElement('div');
        searchedItem.className = "search-item";

        const searchedNumItem = document.createElement('div');
        searchedNumItem.textContent = `${racer.race_id}`;
        searchedNumItem.className = 'suggestion-num';

        // racer's name
        const searchedNameItem = document.createElement('div');
        searchedNameItem.textContent = `${racer.name}`;
        searchedNameItem.className = 'suggestion-name';

        searchedItem.appendChild(searchedNumItem);
        searchedItem.appendChild(searchedNameItem);

        searchedList.appendChild(searchedItem);
        searchedItem.onclick = () => {
          racerData = racer;
          searchCard.style.display = 'none';
        }
      });
    }).catch((err) => {
      console.log(err);
    });
  }

  function createNewRunner(racePosition, racerName, raceNumber){
    /*
     <div class="rest-racer">
      <div class="rest-position">4th</div>
      <div class="rest-name">Racer D</div>
      <div class="rest-lap">Lap 4/10</div>
    </div>
     */
    const searchedItem = document.createElement('div');
    searchedItem.className = "rest-racer";

    const searchedPosItem = document.createElement('div');
    searchedPosItem.textContent = `${racePosition}${formatPos(racePosition)}`;
    searchedPosItem.className = 'rest-position';

    // racer's name
    const searchedNameItem = document.createElement('div');
    searchedNameItem.textContent = `${racerName}`;
    searchedNameItem.className = 'rest-name';


    const searchedNumItem = document.createElement('div');
    searchedNumItem.textContent = `${raceNumber}`;
    searchedNumItem.className = 'rest-lap';

    const delBtn = document.createElement('button');
    delBtn.textContent = 'Delete';
    delBtn.type = 'button';
    delBtn.id = raceNumber
    searchedNumItem.appendChild(delBtn);
    // raceRecordsSection.map((sii))
    // delBtn.onclick = (e) => {
    //   raceRecordsSection.removeChild()
    // }

    searchedItem.appendChild(searchedPosItem);
    searchedItem.appendChild(searchedNameItem);
    searchedItem.appendChild(searchedNumItem);

    raceRecordsSection.appendChild(searchedItem);
    searchedItem.onclick = () => {
      searchCard.style.display = 'none';
    }
  }


  function getRacers(){
    fetch('/api/racers/', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      }
    }).then((response) => {
      return response.json();
    }).then((data) => {
      const racers = data.racers;
      for (let i =0; i < racers.length; i++) {
        const racerOption = document.createElement('option');
        racerOption.textContent = `Runner ${racers[i].race_id}`;
        racerOption.value = racers[i].race_id;
        //racerSelect.appendChild(racerOption);
      }
      console.log(racers);
    }).catch((error) => {
      console.log('error', error);
    });
  }

  // function addRacePositions(){
  //   for(let i =1; i < 30; i++){
  //     const positionOption = document.createElement('option');
  //     positionOption.textContent = `${i}${formatPos(i)} position`
  //     positionOption.value = i.toString();
  //     racePositionSelector.appendChild(positionOption);
  //   }
  // }

  function formatPos(rawPosition){
    const thPos = rawPosition % 10;
    if([11, 12, 13].includes(rawPosition)){
      return 'th';
    }
    switch (thPos) {
      case 1:
        return 'st'
      case 2:
        return 'nd'
      case 3:
        return 'rd'
      default:
        return 'th'
    }
  }

</script>
</body>
</html>
