<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Race Data</title>
</head>
<body id="race-dashboard">

<div class="timer-container dashboard-content">
    <div>
        <h2>Race Information</h2>
        <div id="race-info"></div>
        <button id="register-race"
                class="def-button" disabled>Register Race</button>
    </div>
</div>
<script>
    if (document.readyState === "loading") {
        document.addEventListener("DOMContentLoaded", () => {
            // Edge case
            populateCurrentRace();
        });
    } else {
        let prevSocCommand = undefined;
        let clientId = localStorage.getItem('client_id');
        const socket = new WebSocket(`ws://${location.hostname}:8081?client_id=${clientId}`);

        socket.addEventListener('open', (event) =>{
            console.log('websocket connection open - race dashboard!');
        });

        let raceInfo = document.getElementById('race-info');
        const registerButton = document.getElementById('register-race');
        checkRaceRegistration();
        showOldMessage();

        function showOldMessage(){
            const message = localStorage.getItem('message');
            if (message){
                showToast(message, 'success');
                localStorage.removeItem('message');
            }
        }

        socket.addEventListener('message', (event) =>{
            const cmdObj = JSON.parse(event.data);
            if (prevSocCommand !== cmdObj.cmd){
                raceInfo.removeChild(raceInfo.children[raceInfo.children.length - 1]);
                if(localStorage.getItem('racer_status') === 'disqualified') {
                    newParagraph('Race status', 'Disqualified');
                }else{
                    newParagraph('Race status', cmdObj.cmd === 'start' ? 'Started' : 'Ended');
                }
            }
            prevSocCommand = cmdObj.cmd;

        });

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        const userType = getCookie('user_type');
        if (userType === 'runner'){
            registerButton.style.display = 'block';
            registerButton.onclick = () =>{
                registerRace();
            }
        }else{
            registerButton.style.display = 'none';
        }

        function newParagraph(title, subTitle){
            let paragraph = document.createElement('p');
            paragraph.className = 'race-detail';
            let strong = document.createElement('strong');
            strong.textContent = `${title}: `;
            //<p><strong>Loop (km):</strong> 12</p>
            paragraph.appendChild(strong);
            paragraph.appendChild(document.createTextNode(subTitle));
            raceInfo.appendChild(paragraph);
        }


        function checkRaceRegistration(){
            // registered-race
            const email = getCookie('email');
            fetch(`/api/registered-race?email=${email}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then((res) => res.json())
                .then((data) => {
                    console.log('race registration done: '+ data.registered);
                    registerButton.disabled = data.registered;
                }).catch((err) => {
                showToast(err.message, 'error');
            });
        }


        function registerRace(){
            fetch('/api/register-race', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    email: getCookie('email')
                }),
            }).then((res) => res.json())
                .then((data) => {
                    if(data.error){
                        showToast(data.error, 'error');
                    }else{
                        localStorage.setItem('message', data.message);
                        registerButton.textContent = 'Registered';
                        registerButton.disabled = true;
                        window.location.reload();
                    }
                }).catch((err) => {
                showToast(err.message, 'error');
            });
        }

        function populateCurrentRace(){
            fetch('/api/current-race', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then((res) => res.json())
                .then((data) => {
                    if(data.error){
                        showToast("An error occur", "error");
                    }else{
                        console.log(data.data, 'data_data');
                        if(data.data.length === 0){
                            const noRace = document.createElement('p');
                            noRace.textContent = "No race found.";
                            raceInfo.appendChild(noRace)
                            return;
                        }
                        const race = data.data[0];
                        newParagraph('Name', race.name);
                        newParagraph('Start Time', race.start_time); // address, postcode, city
                        newParagraph('City', race.city);
                        newParagraph('Address', `${race.address}, ${race.postcode}`);
                        raceStatusRow(race);
                    }
                }).catch((err) => {
                console.log('User not logged inqq', 'error');
            });
        }
        populateCurrentRace();

        function raceStatusRow(race){
            if(localStorage.getItem('racer_status') === 'disqualified'){
                registerButton.disabled = true;
                newParagraph('Race status', 'Disqualified');
                return;
            }

            // The user should only be able to register if the race is yet to start
            registerButton.disabled = race.race_started !== -1;
            newParagraph('Race status', race.race_started === 0 ? 'Ended' : race.race_started === -1 ? 'Not Started' : 'Started');
        }

    }

</script>
</body>
</html>
