<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/toast.css' />
    <link rel='stylesheet' href='/stylesheets/button.css' />
</head>
<body>

<h2>Register</h2>

<form id="createUserForm">
    <div class="imgcontainer">
        <img src="https://www.w3schools.com/howto/img_avatar2.png"
             alt="Avatar" class="avatar" style="width:200px;height: 200px">
    </div>

    <div class="container">
        <label for="email"><b>Email Address</b></label>
        <input type="text" placeholder="Enter Email" id="email" name="email" required>

        <label for="name"><b>Full name</b></label>
        <input type="text" id="name" placeholder="Enter Full Name" name="name" required>

        <!--        <label for="psw"><b>Password</b></label>-->
        <!--        <input type="password" placeholder="Enter Password" name="psw" required>-->
        <fieldset>
            <legend>What are you signing up for:</legend>
            <div>
                <input type="radio" id="organiserChoice" name="userType" value="organiser" />
                <label for="organiserChoice">Organiser</label>

                <input type="radio" id="volunteerChoice" name="userType" value="volunteer" />
                <label for="volunteerChoice">Volunteer</label>

                <input type="radio" id="runnerChoice" name="userType" value="runner" />
                <label for="runnerChoice">Runner</label>
            </div>
        </fieldset>
        <button type="submit" class="def-button">Sign Up</button>
    </div>

</form>
<div id="toast" class="toast"></div>

<script>

    const form = document.getElementById('createUserForm')
    const toast = document.getElementById('toast');

    // function showToast(message, type){
    //     toast.textContent = message;
    //     if(type === 'success'){
    //         toast.style.backgroundColor = 'green';
    //     }else{
    //         toast.style.backgroundColor = 'red';
    //     }
    //     toast.className = 'toast show';
    //
    //     setTimeout((event) => {
    //         toast.className = 'toast';
    //     }, 3000);
    // }


    form.addEventListener('submit', (e) => {
        e.preventDefault();

        const userType = document.querySelector('input[name=userType]:checked');

        const formData = {
            email: document.getElementById('email').value,
            name: document.getElementById('name').value,
            user_type: userType.value,
        }
        fetch('/api/create_user', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData)
        })
            .then(response => {
                return response.json()
            })
            .then(data =>{
                if(data.error){
                    showToast(data.error, 'error');
                }else{
                    // showToast('User added successfully',
                    //     'success '+ data.redirectUrl);
                    window.location.href =data.redirect_url;
                    form.reset();
                }
            })
            .catch(err =>{
                showToast('An unexpected error occurred!', 'error');
            });
    });

</script>
</body>
</html>
