<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>

<div id="timerContainer" class="timer-container">
  <p class="race-title">Race Time</p>
  <p class="timer" id="timer">00:00:00.000</p>
  <div class="controls" id="controls">
    <button id="startPause" type="button" class="ctr-button start">Start</button>
    <button id="lapse" type="button" class="ctr-button lap">Lapse</button>
    <button id="stop" type="button" class="ctr-button stop">Stop</button>
  </div>
  <div id="lapses-container"></div>

  <div>
    <ul id="lapses"></ul>
  </div>

</div>

<div class="toast" id="toast"></div>

<script>
  // To prevent Uncaught SyntaxError: redeclaration of const
  if (document.readyState !== "loading") {
    const toast = document.getElementById('toast');
    const startBtn = document.getElementById('startPause');
    const stopBtn = document.getElementById('stop');
    const lapseBtn = document.getElementById('lapse');
    const timer = document.getElementById('timer');
    const lapsesNode = document.getElementById('lapses');
    const topNav = document.getElementById('topnav');
    const controls = document.getElementById('controls');
    // const lapseTemplate = document.getElementById("template");

    // let lapses = [];
    let intervalId;
    let startedTime = null;
    let elapsedTime =0;
    let clockNow =0;
    let isRunning = false;
    const startText = 'Start';

    lapseBtn.addEventListener('click', addNewLapse);

    let lapCount = 0;

    function addNewLapse(event){
      if (isRunning){
        lapCount += 1;
        let li = document.createElement('ol');
        li.className = 'rounded-list';
        li.appendChild(document.createTextNode(`Lap ${lapCount}: ` + timer.textContent));
        lapsesNode.appendChild(li);
      }
    }

    function pauseTimer() {
      if(isRunning && intervalId){
        startBtn.textContent = "Resume";
        clearInterval(intervalId);
        intervalId = null;
        elapsedTime = Date.now() - startedTime;
        console.log("pause", clockNow);
        isRunning = false;
      }
    }

    const userTypeVal = localStorage.getItem('user_type');
    if(userTypeVal !== 'organiser'){
      console.log('not organiser', 'error');
      controls.className = 'controls hide';
    }

    function startTimer() {
      if(!isRunning && !intervalId){
        startedTime = Date.now() - elapsedTime;
        intervalId = setInterval(updateClock, 10)
        startBtn.textContent = "Pause"
        isRunning = true;
      }
    }

    function error(error){
      showToast("Error talking to your gps: " + error.message);
    }

    function success(position){
      formData['longitude'] = position.coords.longitude;
      formData["latitude"] = position.coords.latitude;

      fetch('/api/racer-position', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData)
      }).then(function(response) {
        return response.json();
      }).then(function(races) {
        console.log(races);
      }).catch(function(error) {
        console.log(error);
      });
    }

    const formData = {};

    monitorUserPosition();


    async function monitorUserPosition() {

      if (localStorage.getItem('user_type') === 'runner') {

        const options = {
          enableHighAccuracy: false,
          timeout: 10000,
          maximumAge: 0
        }

        navigator.geolocation.watchPosition(success, error, options);
      }
    }

    function updateLocation() {
      navigator.geolocation.getCurrentPosition(success, error)
    }

    function stopTimer() {
      startBtn.textContent = startText
      clearInterval(intervalId);
      elapsedTime = 0;
      startedTime =0;
      isRunning = false;
      intervalId = null;

      while (lapsesNode.hasChildNodes()){
        lapsesNode.removeChild(lapsesNode.firstChild);
      }
      updateClock(true);
      localStorage.setItem('timer_status', 'stopped');
    }

    function updateClock(reset = false) {
      if(reset){
        timer.textContent = '00:00:00.000';
        return;
      }
      const clockNow = new Date(Date.now() - startedTime);
      timer.textContent = `${padTime(clockNow.getUTCHours())}:${padTime(clockNow.getUTCMinutes())}:${padTime(clockNow.getUTCSeconds())}.${padTimeMs(clockNow.getMilliseconds())}`;
    }

    function padTimeMs(value){
      const valueStr = value.toString();

      if(valueStr.length < 2){
        return `00${value}`;
      }
      if(valueStr.length < 3){
        return `0${value}`;
      }

      return `${value}`;
    }

    function padTime(value){
      if(value < 10){
        return `0${value}`;
      }
      return `${value}`;
    }

    Number.prototype.toTimeString = function(seconds) {
      let twentyFourHrs = 8.64e7;  // 24*60*60*1000

      let ms = seconds ? this * 1000 : this,
              endPos = ~(4 * !!seconds),  // to trim "Z" or ".sssZ"
              timeString = new Date(ms).toISOString().slice(11, endPos);

      if (ms >= twentyFourHrs) {  // to extract ["hh", "mm:ss[.mss]"]
        let parts = timeString.split(/:(?=\d{2}:)/);
        parts[0] -= -24 * Math.floor(ms / twentyFourHrs);
        timeString = parts.join(":");
      }

      return timeString;
    };

    startBtn.addEventListener('click', () =>{
      localStorage.setItem('timer_status', 'running');
      console.log('start');
      if([startText, 'Resume'].includes(startBtn.textContent)){
        startTimer();
      }else{
        pauseTimer();
      }
    });

    stopBtn.addEventListener('click', stopTimer);


    function showToast(message, type){
      toast.textContent = message;
      if(type === 'success'){
        toast.style.backgroundColor = 'green';
      }else{
        toast.style.backgroundColor = 'red';
      }
      toast.className = 'toast show';

      setTimeout((event) => {
        toast.className = 'toast';
      }, 3000);
    }

  }

</script>

</body>

</html>
