<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/confirmation_snackbar.css">
  <link rel="stylesheet" href="/stylesheets/button.css">
</head>
<body>

<div id="timerContainer" class="timer-container">
  <p class="race-title">Race Time</p>
  <p class="timer" id="timer">00:00:00.000</p>
  <div class="controls" id="controls">
    <button id="startPause" type="button" class="ctr-button start">Start</button>
<!--    <button id="lapse" type="button" class="ctr-button lap">Lapse</button>-->
<!--    <button id="stop" type="button" class="ctr-button stop">Stop</button>-->
  </div>
  <div id="lapses-container"></div>
  <div>
    <ul id="lapses"></ul>
  </div>
</div>

<div class="toast" id="toast"></div>

<div id="snackbar">Are you sure you want to finish the race? <button id="finish-btn" class="def-button"><b>Confirm</b></button></div>
<script>
  // To prevent Uncaught SyntaxError: redeclaration of const
  if (document.readyState !== "loading") {
    const toast = document.getElementById('toast');
    const startBtn = document.getElementById('startPause');
    // const stopBtn = document.getElementById('stop');
    // const lapseBtn = document.getElementById('lapse');
    const timer = document.getElementById('timer');
    const lapsesNode = document.getElementById('lapses');
    const topNav = document.getElementById('topnav');
    const controls = document.getElementById('controls');
    const snackbar = document.getElementById("snackbar");
    const finishBtn = document.getElementById('finish-btn');


    //const submitLapsBtn = document.getElementById('submit-laps-btn');

    let endTime = undefined;
    let raceLapseData = []
    // const lapseTemplate = document.getElementById("template");

    let intervalId;
    let startedTime = null;
    let elapsedTime =0;
    let clockNow =0;
    let isRunning = false;
    const startText = 'Start';
    let lapCount = 0;
    let raceId = undefined;
    let prevSocCommand = undefined;
    let cachedLaps = 'cachedLaps';

    const socket = new WebSocket(`ws://${location.hostname}:8081`);

    // lapseBtn.addEventListener('click', addNewLapse);
    //submitLapsBtn.addEventListener('click', submitLaps);

    populateCurrentRace();
    doInitialStartTime();
    populateLaps();

    socket.addEventListener('open', (event) =>{
      console.log('websocket connection open!');
    });

    finishBtn.addEventListener('click', (_) => {
      stopTimer();
      snackbar.className = "";
      submitLaps();
    });

    socket.addEventListener('message', (event) =>{
      const cmdObj = JSON.parse(event.data);
      if (cmdObj.elapse_time !== undefined) {
        elapsedTime = cmdObj.elapse_time;
      }
      if (prevSocCommand !== cmdObj.cmd){
        if (cmdObj.cmd === 'start') {
          startTimer();
          prevSocCommand = cmdObj.cmd;
          localStorage.setItem('timer_status', 'running');
        }else{
          console.log('websocket connection open! ---> showWarning');
          showWarning();
          prevSocCommand =''
        }
      }

    });

    function showWarning(){
      snackbar.className = "show";
      const timeout = setTimeout(function(){
        snackbar.className = "";
        clearTimeout(timeout)
        }, 3000);
    }



    function submitLaps(){
      // submit laps
      localStorage.setItem('laps', JSON.stringify({
        laps: raceLapseData,
        race_id: raceId
      }));
      for (let i = 0; i < topNav.children.length; i++) {
        topNav.children[i].style.display = 'none';
      }
      window.location.href = '/record-race';
    }

    function populateLaps(){
      const laps = JSON.parse(localStorage.getItem(cachedLaps));
    }



    const userTypeVal = localStorage.getItem('user_type');
    console.log('userTypeVal', userTypeVal);
    if(userTypeVal !== 'organiser'){
      controls.className = 'controls hide';
    }


    async function startTimer() {
      if(!isRunning && !intervalId){
        let nowTime = Date.now();
        //startTime = nowTime.start_time.start_time.split('-')[0] === 'NaN' ? Date.now() : new Date(nowTime.start_time.start_time).getTime();
        updateStartTime(nowTime); // Query time and start
        startedTime = nowTime  - elapsedTime;
        intervalId = setInterval(updateClock, 10);
        startBtn.textContent = "Finish";
        isRunning = true;
      }
    }

    function sendCommand(cmd){
      socket.send(JSON.stringify({cmd: cmd, elapse_time: elapsedTime}));
    }

    function updateStartTime(startTime){
      // TODO: Add timer state(start, pause, stop)
      fetch('/api/start-race', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          start_time: startTime,
          started: true
        })
      }).then((res) => {
        return res.json();
      }).then((data) => {

        console.log('updateRace---->', data);
      }).catch((err) => {
        console.log('updateRace_err---->', err);
      });
    }

    function updateEndTime(endTime){
      fetch('/api/end-race', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          end_time: endTime
        })
      }).then((res) => {
        return res.json();
      }).then((data) => {

        console.log('updateEndRace---->', data);
      }).catch((err) => {
        console.log('updateEndRace_err---->', err);
      });
    }

    function error(error){
      showToast("Error talking to your gps: " + error.message);
    }

    function success(position){
      formData['longitude'] = position.coords.longitude;
      formData["latitude"] = position.coords.latitude;

      fetch('/api/racer-position', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData)
      }).then(function(response) {
        return response.json();
      }).then(function(races) {
        console.log('login_position', races);
      }).catch(function(error) {
        console.log(error);
      });
    }

    function doInitialStartTime(){
      fetch('/api/start-time', {
        headers: {
          'Content-Type': 'application/json',
        },
        method: 'GET'
      }).then(function(response) {
        return response.json();
      }).then(function(startTime) {

        if (startTime.start_time.split('-')[0] === 'NaN'
                || startTime.start_time.split(':')[startTime.start_time.length -1] === '00') return;

        console.log('race_started ------>', startTime.race_started)
        if(startTime.race_started === 1){
          startBtn.textContent = "Finish"

          //race.start_time.start_time
          let nowTime = new Date(startTime.start_time).getTime();
          console.log("nowTime", nowTime, startTime.start_time);
          //startTime = nowTime.start_time.start_time.split('-')[0] === 'NaN' ? Date.now() : new Date(nowTime.start_time.start_time).getTime();
          updateStartTime(nowTime); // Query time and start
          startedTime = nowTime  - elapsedTime;
          intervalId = setInterval(updateClock, 10);
          isRunning = true;
        }

      }).catch((error) => {
        console.log('error', error);
      });
    }

    const formData = {};


    function stopTimer() {
      startBtn.textContent = startText
      clearInterval(intervalId);
      // elapsedTime = 0;
      // startedTime =0;
      isRunning = false;
      intervalId = null;
      updateEndTime(endTime);
      updateClock(true);
    }


    function populateCurrentRace(){
      fetch('/api/current-race', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
        },
      }).then((res) => res.json())
              .then((data) => {
                if(data.error){
                  showToast("An error occur", "error");
                }else{
                  raceId = data.data[0].id;
                }
              }).catch((err) => {
        console.log('User not logged inqq', 'error');
      });
    }

    function updateClock(reset = false) {
      if(reset){
        timer.textContent = '00:00:00.000';
        return;
      }
      endTime = Date.now();
      const clockNow = new Date(endTime - startedTime);
      timer.textContent = `${padTime(clockNow.getUTCHours())}:${padTime(clockNow.getUTCMinutes())}:${padTime(clockNow.getUTCSeconds())}.${padTimeMs(clockNow.getMilliseconds())}`;
    }

    function padTimeMs(value){
      const valueStr = value.toString();

      if(valueStr.length < 2){
        return `00${value}`;
      }
      if(valueStr.length < 3){
        return `0${value}`;
      }

      return `${value}`;
    }

    function padTime(value){
      if(value < 10){
        return `0${value}`;
      }
      return `${value}`;
    }

    Number.prototype.toTimeString = function(seconds) {
      let twentyFourHrs = 8.64e7;  // 24*60*60*1000

      let ms = seconds ? this * 1000 : this,
              endPos = ~(4 * !!seconds),  // to trim "Z" or ".sssZ"
              timeString = new Date(ms).toISOString().slice(11, endPos);

      if (ms >= twentyFourHrs) {  // to extract ["hh", "mm:ss[.mss]"]
        let parts = timeString.split(/:(?=\d{2}:)/);
        parts[0] -= -24 * Math.floor(ms / twentyFourHrs);
        timeString = parts.join(":");
      }

      return timeString;
    };

    startBtn.addEventListener('click', async () =>{

      localStorage.setItem('timer_status', 'running');
      // console.log('start');
      if([startText].includes(startBtn.textContent)){
        sendCommand('start');
      }else{
        sendCommand('stop');
      }
    });

    // stopBtn.addEventListener('click', () =>{
    //   sendCommand('stop');
    // });


    function showToast(message, type){
      toast.textContent = message;
      if(type === 'success'){
        toast.style.backgroundColor = 'green';
      }else{
        toast.style.backgroundColor = 'red';
      }
      toast.className = 'toast show';

      setTimeout((event) => {
        toast.className = 'toast';
      }, 3000);
    }

  }else{
    console.log('error', 'loaded');
  }

</script>

</body>

</html>
