
.def-button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.delete-btn{
    background-color: red;
    color: white;
    padding: 5px 10px;
    margin: 0 0 0 10px;
    border: none;
    cursor: pointer;
    width: fit-content;
}

.def-button:hover {
    opacity: 0.8;
}

.def-button:disabled {
    background-color: #A5D6A7;
    cursor: not-allowed;
    opacity: 0.6;
}
