.dashboard{
    width: 100vh;
}


.time-container{
    align-content: center;
}

.timer{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50pt;
    text-align: center;
    width: 100vw;
    height: fit-content;
}


.controls{
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 15px;
}


.ctr-button{
    width: 10vw;
    height: 10vw;
    max-width: 90px;
    max-height: 90px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: clamp(12px, 2vw, 16pt);
    border: 2px solid white;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}


.ctr-button.start{
    background-color: green;
}

.ctr-button.stop{
    background-color: red;
}

.ctr-button.lap{
    background-color: yellow;
    color: black;
}

ul {
    list-style-type: none;
}


ol {
    /* numeric */
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.rounded-list{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
}
/*@property --num {*/
/*    syntax: '<integer>';*/
/*    initial-value: 0;*/
/*    inherits: false;*/
/*}*/

/*p {*/
/*    transition: --num 1s;*/
/*    counter-reset: num var(--num);*/
/*}*/
/*p:hover {*/
/*    --num: 10000;*/
/*}*/
/*p::after {*/
/*    content: counter(num);*/
/*}*/
