.dashboard {
    width: 100vh;
}

.time-container {
    align-content: center;
}

.timer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10vw;
    text-align: center;
    width: 100%;
    height: fit-content;
}


.timer:disabled{
    color: grey;
}

.controls {
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 15px;
}

.controls.hide {
    visibility: hidden;
}

.controls.show {
    visibility: visible;
}

.ctr-button {
    width: 10vw;
    height: 10vw;
    max-width: 90px;
    max-height: 90px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: clamp(12px, 2vw, 16pt);
    border: 2px solid white;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

.ctr-button.start {
    background-color: green;
}

.ctr-button.start:disabled {
    background-color: #81C784;
    cursor: not-allowed;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol {
    counter-reset: li;
    list-style: none;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.rounded-list {
    position: relative;
    display: block;
    padding: 10px;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    font-weight: bold;
}
