

.people-content {
    display: block;
    flex-direction: row;
    width: 100%;
}


.people-item {
    background-color: #4CAF50;
    border-radius: 12px;
    align-content: center;
    padding: 10px 0 10px 0;
    margin: 10px 0 0 0;
    justify-content: center;
}

li{
    justify-content: center;
    text-align: center;
    margin-left: 6vh;
    color: black;
    font-weight: lighter;
    font-size: 17px;
}

