body {
    font-family: 'Segoe UI', sans-serif;
    background: #f0f2f5;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.top-racers {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.racer-card {
    background: white;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    width: 180px;
    text-align: center;
}

.position {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
}

.racer-name {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.lap {
    margin-top: 0.25rem;
    font-size: 1rem;
    color: #555;
}

.rest-container {
    max-width: 98%;
    margin: 0 auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    padding: 1rem;
}

.search-container {
    width: 45%;
    margin: 0 auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    padding: 1rem;
    position: absolute;
    z-index: 999;
}


.input-container input {
    position: relative;
    z-index: 1; /* Lower than .card */
}

.rest-racer {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #eee;
}

.search-item{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}


.search-item:hover {
    background: lightgrey;
}

.rest-racer:last-child {
    border-bottom: none;
}

.rest-position {
    font-weight: bold;
    color: #333;
}

.rest-name {
    flex: 1;
    text-align: left;
    margin-left: 1rem;
}


.suggestion-num {
    flex: 1;
    text-align: left;
    margin-left: 1rem;
}

.suggestion-name {
    color: #555;
}

li{
    list-style: none;
    height: 30px;
}


ul{
    padding: 0;
}
